<body class="bg-primary">
    <header>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark p-md-3 bg-primary">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <h4>Meeting Point</h4>
                </a>
                <button id="toggleBtn" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                    <div>
                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link text-white" aria-current="page" href="/">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">Eventos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">Contacto</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">¿Como usar Meeting Point?</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/login">Iniciar Sesión</a>
                                </li>
                                <li class="nav-item">
                                    <button class="btn btn-sm mt-1 bg-secondary rounded-pill">Crear mi
                                        evento</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="mt-5">
        <div class="container">
            <div class="col-lg-12">
                <div class="bg-secondary row rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="col-lg-5 d-none d-lg-block p-4">
                        <img src="{{data.image}}" alt="image" class="img-fluid">
                    </div>
                    <div class="col-lg-7 p-4 d-flex flex-column position-static p-5">
                        <h3 class="mb-0 mt-1">{{data.title}}</h3>
                        <div class="d-inline mt-2">
                            <span class="badge bg-primary">Ubicacion: {{data.location}}</span>
                            <span class="badge bg-primary">Modalidad: {{data.type}}</span>
                            <span class="badge bg-primary">Edad apta: {{data.age}} años</span>
                            <span class="badge bg-primary">Aforo: {{data.capacity}} personas</span>
                            <span class="badge bg-primary">Comienza el: {{data.datestart}}</span>
                            <span class="badge bg-primary">Finaliza el: {{data.datefinish}}</span>
                        </div>
                        <div class="mb-1 text-white mt-4">¿De que trata este evento?</div>
                        <p class="card-text">{{data.description}}</p>
                        <ul class="mt-2">
                            <li>Productora: {{data.producer}}</li>
                            <li>Animador: {{data.animator}}</li>
                            <li>Artista: {{data.artist}}</li>
                            <li>Contacto: {{data.phone}}</li>
                        </ul>
                        <form action="/view-event/{{data.id}}/add-user" method="POST">
                            <input type="text" name="usuarios_id" class="d-none" value="{{user.id}}">
                            <input type="text" name="eventos_id" class="d-none" value="{{data.id}}">
                            <div class="d-grid gap-2">
                                <button class="btn bg-primary" type="submit">Inscribirse al evento</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="widget_title green">Meeting Point</h2>
                    <p>Somos una empresa dedicada a la creación y promocion de Eventos
                        presenciales y via Streaming, creamos eventos de todo tipo, para
                        grandes y chicos</p>
                </div>
                <div class="col-md-4 widget">
                    <h2 class="widget_title green">Enlaces directos</h2>
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/events">Eventos</a></li>
                        <li><a href="/my-event">Crear Evento</a></li>
                        <li><a href="/login">Iniciar sesión</a></li>
                        <li><a href="/register">Registro</a></li>
                        <li><a href="/admin">Acceso administrador</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="widget_title green">Contactanos</h2>
                    <div class="row2">
                        <strong>Dirección: Viña del mar</strong>
                    </div>
                    <div class="row3">
                        <strong>Email: contacto@meetingpoint.cl</strong>
                    </div>
                    <div class="row4">
                        <strong>Telefono: +56912345678</strong>
                    </div>
                    <div class="social col-md-12">
                        <a href="https://facebook.com"><i class="bi bi-facebook"></i></a>
                        <a href="https://twitter.com"><i class="bi bi-twitter"></i></a>
                        <a href="https://instagram.com"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>