<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="img/logo.svg" class="mt-2" width="100" alt="" />
      </a>
      <button id="toggleBtn" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        arnpia-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list mobile-nav-toggle"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <div>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link nav-link-border text-white active" aria-current="page" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-border text-white" href="/events">Eventos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-border text-white" href="/about">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-border text-white" href="/">¿Como usar Meeting
                  Point?</a>
              </li>
               {{#if isAuthenticated}}
                  <li class="nav-item">
                <a class="nav-link text-white nav-link-border" href="/logout">Cerrar sesión</a>
              </li>        
              {{else}}
              <li class="nav-item">
                <a class="nav-link text-white nav-link-border" href="/login">Iniciar Sesión</a>
              </li>
              {{/if}}
              <li class="nav-item">
                <a href="/my-event"><button class="btn btn-sm mt-1 bg-secondary rounded-pill">Crear mi
                    evento</button></a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </nav>
</header>
<section id="hero">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <h1 class="mb-4 pb-0">Creamos<br />Entretenimiento para ti.</h1>
    <br />
    <a href="events" class="btn bg-secondary rounded-pill btn-hero">Ver todos
      los eventos</a>
  </div>
</section>

<main>
  <section id="events">
    <div class="container">
      <div class="section-event">
        <h2 class="text-center pb-5">Ultimos eventos publicados</h2>
      </div>

      <div class="row">
        {{#each data}}
        <div class="col-lg-4 col-md-9 col-sm-12">
          <div class="event" data-aos="fade-up" data-aos-delay="300">
            <img src="{{image}}" alt="image" class="img-fluid" />
            <div class="details">
              <h3><a href="/view-event/{{id}}">{{title}}</a></h3>
              <p>Modalidad: {{type}}</p>
              <div class="button-show">
                <a href="/view-event/{{id}}" class="btn btn-sm bg-secondary">Ver
                  más</a>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section><!-- End Speakers Section -->
</main>
<footer class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="widget_title green">Meeting Point</h2>
        <p>Somos una empresa dedicada a la creación y promocion de Eventos
          presenciales y via Streaming, creamos eventos de todo tipo, para
          grandes y chicos</p>
      </div>
      <div class="col-md-4 widget">
        <h2 class="widget_title green">Enlaces directos</h2>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/events">Eventos</a></li>
          <li><a href="/my-event">Crear Evento</a></li>
          <li><a href="/login">Iniciar sesión</a></li>
          <li><a href="/register">Registro</a></li>
          <li><a href="/admin">Acceso administrador</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2 class="widget_title green">Contactanos</h2>
        <div class="row2">
          <strong>Dirección: Viña del mar</strong>
        </div>
        <div class="row3">
          <strong>Email: contacto@meetingpoint.cl</strong>
        </div>
        <div class="row4">
          <strong>Telefono: +56912345678</strong>
        </div>
        <div class="social col-md-12">
          <a href="https://facebook.com"><i class="bi bi-facebook"></i></a>
          <a href="https://twitter.com"><i class="bi bi-twitter"></i></a>
          <a href="https://instagram.com"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="/js/main.js"></script>